/* Basic styling */

body {
    /* background-image: url('Imagenes/City\ View\ pasillo\ izquierda.JPG'); */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    color: #000000;
  }
  
  /* Header and navigation */
  
  header {
    background-color: #FFFFFF ;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #000000;
    color: #FFFFFF ;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #FFFFFF ;
    text-decoration: none;
  }
  
  /* Banner section */
  
  #banner {
    background-image: url('https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152016&authkey=%21AGOjCPj4UURa8VU&width=1440&height=433');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    color: #000000;
  }
  
  #banner h2 {
    font-size: 36px;
  }
  
  #banner p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF ;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Featured products section */
  
  #featured-products {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .product:nth-child(even) {
    background-color: #B0E0E6;
    text-align: center;
    margin-bottom: 30px;
  }
  .product:nth-child(odd) {
    background-color: #F5F5DC;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .product img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius:14%;
  }
  
  /* Footer */
  
  footer {
    background-color: #333;
    color: #FFFFFF ;
    text-align: center;
    padding: 10px;
  }
  
  /* About page styles */
  section {
    padding: 20px;
    margin-bottom: 20px;
  }

  h2 {
    color: #000000;
  }

  p {
    line-height: 1.5;
  }

  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  /*product page styles*/
  #product-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
    