*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Basic styling */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .hasBG{
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152123&authkey=%21AAPf2r-nfLhqst0&width=660&height=999999");
    background-color: rgba(200, 200, 200, 0.4);
    background-size: cover;
    background-position: center;
  }

  .ProductBody {
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152127&authkey=%21ANblUqXD2u87i9A&width=999999&height=660");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .hasBG{
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152123&authkey=%21AAPf2r-nfLhqst0&width=1024&height=999999");
    background-color: rgba(200, 200, 200, 0.4);
    background-size: cover;
    background-position: center;
  }

  .ProductBody {
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152127&authkey=%21ANblUqXD2u87i9A&width=999999&height=1024");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
@media (min-width: 1201px) {
  .hasBG{
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152123&authkey=%21AAPf2r-nfLhqst0&width=1920&height=1278");
    background-color: rgba(200, 200, 200, 0.4);
    background-size: cover;
    background-position: center;
  }

  .ProductBody {
    background-image: url("https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152127&authkey=%21ANblUqXD2u87i9A&width=1900&height=1900");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
  
  h1, h2, h3 {
    color: #000000;
  }
  
  /* Header and navigation */
  
  header {
    background-color: #FFFFFF ;
    padding: 15px;
    text-align: center;
  }
  
  nav {
    background-color: #000000;
    color: #FFFFFF ;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #FFFFFF ;
    text-decoration: none;
  }
  
  /* Banner section */
  
  #banner {
    background-image: url('https://onedrive.live.com/embed?resid=96F7D4AC815D93C5%2152016&authkey=%21AGOjCPj4UURa8VU&width=1440&height=433');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    color: #000000;
  }

  @media (max-width: 1200px) {
    #banner h2 {
      font-size: 24px;
    }
    
    #banner p {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 1201px) {
    #banner h2 {
      font-size: 36px;
    }
    
    #banner p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  
  .btn {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF ;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Featured products section */
  
  #featured-products {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .product:nth-child(even) {
    background-color: #B0E0E6;
    border-radius: 4%;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: #333;
    margin: 0;
    margin-bottom: 30px;
  }
  .product:nth-child(odd) {
    background-color: #F5F5DC;
    border-radius: 4%;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: #333;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .product img {
    /* max-width: 600px;
    max-height: 400px;
    object-fit: cover; */
    width: 100%;
    max-width: 600px;
    min-width: 310px;
    max-height:600px;
    margin-bottom: 10px;
    border-radius:14%;
  }
  
  /* Footer */
  
  footer {
    background-color: #333;
    color: #FFFFFF ;
    text-align: center;
    margin-top: auto;
    padding: 10px;
  }
  
  /* About page styles */
  section {
    padding: 20px;
    margin-bottom: 20px;
  }

  h2 {
    color: #000000;
  }

  p {
    line-height: 1.5;
  }

  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  /*product page styles*/
  #product-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .telefonos ul{
    font-size: 22px;
  }